* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    color: rgb(235, 235, 235);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    /* overflow: hidden;overflow: auto; */
    /* transition: 0.001s; */

    
}

body {
    background-color: rgb(62, 62, 62);
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: row; */
    /* display: in; */

}

/* .all { */
    /* display: flex; */
    /* position: relative; */
    /* flex-direction: row; */
    /* width: 100%;
    height: 100%; */
/* } */



/* a {
display: flex;
justify-content: center;
align-items:center;
margin-left:7%;
} */

img {
    height: 10%;
    width: 30%;
}

p {
    padding-top:3%;
    font-size: 25px;
}

button {
    /* position:sticky; */
    display: flex;
    background-color: rgb(39, 36, 36);
    padding-top: 10%;
    padding-bottom: 10%;
    /* padding-right: 20px; */
    justify-content:left;
    align-items:center;
    font-size: 15px;
    width: 100%;
    font-size: 15px;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    overflow: hidden;
    white-space: nowrap;
    /* word-break: break-all; */
    transition: 0.4s;
    cursor: pointer;
}

#buttonAbout {
    background-color: chocolate;
}

/* button:hover {
    background-color: rgba(31, 31, 31, 0.925);
} */
/* ------------------------------------------------------ */


.buttonsSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    padding-top: 4vw;
    justify-content: top;
    align-items: center;
}

.imgButton {
    width: 40px;
    height: 40px;
    margin-left: 10% ;
    margin-right: 5%;
    /* margin-top: 10px; */
    align-items:left; 
    justify-content: center;
}

/* ------------------------------------------------------ */

.buttonsSideDown {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    margin-bottom: 20%;
    align-items: center;
    justify-content:end;
    min-width: 30px;
    min-height: 30px;
    
}

.bDown2 {
    display: flex;
    /* height: 100%; */
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: left;
    align-items:end;
    font-size: 100%;
    width: 100%;
    padding-left: 10%;
    opacity: 50%;
    /* min-width: 30px;
    min-height: 30px; */
    

}

.bDown2:hover {
    opacity: 100%;
}

.imgButton2 {
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 10%;
    align-items:center; 
    justify-content: center;
    /* min-width: 30px;
    min-height: 30px; */
}


/* ------------------------------------------------------ */

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    
    width: 12%;
    min-width: 180px;
    min-height: 500px;
    overflow: hidden;

    height: 100vh;
    background-color: rgb(39, 36, 36);
    align-items: center;
    justify-content: center;
    /* padding-top: 2%; */
    /* overflow:-moz-hidden-unscrollable; */


    transition: 0.45s;
}

.mainPage {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100%;
    /* overflow:inherit; */
    /* padding-left: 12% ; */
    /* background-color: red; */
    /* border-radius:15% */

}
.info {
    display: flex;
    /* grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(1,100%); */
    flex-direction: column;
    margin-top: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
    justify-content: center;
    align-items:center;
    /* width: 80vw; */
    width: 90%;
    height: 30vh;
    background-color: rgb(211, 222, 176);
    border-radius:8px;
    transition: 0.4s;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(16, 56, 86, 0.6); 
    -moz-box-shadow: 0px 5px 5px -5px rgba(16, 56, 86, 0.6); 
    box-shadow: 0px 5px 5px -5px rgba(16, 56, 86, 0.6);
    color: black;
    /* wrap: nowrap; */
    /* overflow: hidden; */

    
}



.block1 {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
    justify-content: center;
    align-items:center;
    width: 90%;
    height: 50vh;
    /* background-color:rgb(231, 187, 133); */
    background-color: rgb(215, 190, 171);
    border-radius:8px; 
    transition: 0.4s;
    overflow: hidden;
}
.blockEducation {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
    justify-content: center;
    align-items:center;
    width: 90%;
    height: 50vh;
    /* background-color:rgb(231, 187, 133); */
    background-color: rgb(92, 106, 143);
    border-radius:8px; 
    transition: 0.4s;
    overflow: hidden;
}

.blockExpirience {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
    justify-content: center;
    align-items:center;
    width: 90%;
    height: 50vh;
    /* background-color:rgb(231, 187, 133); */
    background-color: rgb(247, 172, 114);
    border-radius:8px; 
    transition: 0.4s;
    overflow: hidden;
}

.blockProjects {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
    justify-content: center;
    align-items:center;
    width: 90%;
    height: 50vh;
    /* background-color:rgb(231, 187, 133); */
    background-color: rgb(142, 212, 184);
    border-radius:8px; 
    transition: 0.4s;
    overflow: hidden;
}

.myPhoto {
    width:  60%;
    min-width: 110px;
    max-width: 170px;
    height: 70%;
    min-height: 100px;
    border-radius: 25px;
    /* border-radius:50%; */

    /* margin-right: 5%; */
    /* border: 2px solid rgb(89, 72, 72); */
     /* Параметры рамки */
    /* box-shadow: 0 0 7px chocolate(230, 69, 69);  */
    background-color: rgb(62, 62, 62) ;
    /* background-color: rgb(198, 175, 175) ; */

    opacity: 100;

}
footer{
    display: flex;
    height: 10vh;
    justify-content: end;
    align-items:center;
    margin-top:20px;
    padding-right: 10%;
    background-color:rgb(39, 36, 36);
    width: 100%;
}
.info:hover { 
    /* box-shadow: rgb(255, 255, 255) 0px 5px 15px; */
    box-shadow: rgb(211, 222, 176) 0px 5px 15px;
    box-shadow:rgb(142, 212, 184) 0px 5px 15px;


}
.block1:hover { 
    /* box-shadow: rgb(255, 255, 255) 0px 5px 15px; */
    box-shadow: rgb(215, 190, 171) 0px 5px 15px;
    box-shadow:rgb(142, 212, 184) 0px 5px 15px;


}

.blockEducation:hover {
    box-shadow:rgb(142, 212, 184) 0px 5px 15px;
}

.blockExpirience:hover {
    /* box-shadow:rgb(247, 172, 114) 0px 5px 15px; */
    box-shadow:rgb(142, 212, 184) 0px 5px 15px;

}

.blockProjects:hover {
    box-shadow:rgb(142, 212, 184) 0px 5px 15px;
}

.name {
    display: flex;
    justify-content: center;
    align-items:center;
    /* color: rgb(142, 19, 0); */
    color: black;
    /* margin-left: 10px; */
    /* border:2px solid red; */
    width: 100%;
    height: 20%;
    font-size: large;
    font-weight: 600;
    
}

.contact {
    display: grid;
    /* justify-content: center;
    align-items:center; */
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4,20%);
    gap: normal;
    justify-items: stretch;
    /* align-items:center; */
    color: black;
    /* border:2px solid red; */
    width: 100%;
    height: 100%;
    /* border:2px solid rgb(142, 19, 0); */
    /* border-right:2px solid white; */

}
.photoBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    /* border:2px solid red; */
    width: 100%;
    height: 100%;
    /* padding-left: 100px; */
    /* border:2px solid rgb(142, 19, 0); */
    /* border:2px solid white; */

border-left: 0ch;
} 

.p1 {

    display: flex;
    width: 100%;
    height: 100%;
    /* color: rgb(142, 19, 0); */
    color:black;
    /* color: white; */
    font-size: medium;
    font-weight: 600;
    justify-content: flex-start;
    align-items:center;
    margin-left: 10%;
    /* border-bottom: 1px solid rgb(142, 19, 0); */
    border-bottom: 1px solid white;

}

.p2 {
    display: flex;
    color: rgb(0, 0, 0);
    /* color: white; */
    font-size: medium;
    font-weight: 400;
    justify-content: flex-start;
    align-items:center;
    margin-right: 10%;
    margin-left: 10%;
    /* border-bottom: 1px solid rgb(142, 19, 0); */
    border-bottom: 1px solid white;

}


